# Root-level
brr.md
razorpay_guide_part1.md
razorpay_guide_part2.md

# Backend
backend/.env
backend/.env.production
backend/private.pem
backend/public.pem
backend/*.pem
backend/*.exe
backend/bin/
backend/app
backend/tmp/
backend/.gocache/

# Frontend
frontend/.env
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor & OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
PROJECT_DOCUMENTATION.md
