DB_URL=postgres://sendr:secret@localhost:5433/sendr?sslmode=disable
REDIS_URL=redis://localhost:6379

JWT_PRIVATE_KEY_PATH=./private.pem
JWT_PUBLIC_KEY_PATH=./public.pem

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

SENDGRID_KEY=
FROM_EMAIL=
FROM_NAME=Sendr

PORT=8080